.box2{
	background:url(../img/feature.jpg)no-repeat;
    min-height:100px;
    width: 25%;
    float: left;
}
.box3{
	background:url(../img/feature1.jpg)no-repeat;
    min-height:100px;
    width: 25%;
    float: left;
}
.box4{
	background:url(../img/feature2.jpg)no-repeat;
    min-height:100px;
    width: 25%;
    float: left;
}
.box5{
	background:url(../img/feature3.jpg)no-repeat;
    min-height:100px;
    width: 25%;
    float: left;
}

.box2 ul li,
.box3 ul li,
.box4 ul li,
.box5 ul li {
    list-style: none;
    font-size: 20px;
    color: #fff;

}

.box2,
.box3,
.box4,
.box5{
    white-space: nowrap;
    height: 100px;
}

.box2:before,
.box3:before,
.box4:before,
.box5:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
}
.box2 ul,
.box3 ul,
.box4 ul,
.box5 ul {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin: 0;
    padding: 0 20px;
}